@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}

body, html {
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

a {
  text-decoration: none;
  display: inline-block;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

/* Header Part */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}

.header-upper {
  background-color: var(--color-131921); 
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.input-group .form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-bottom {
  background-color: var(--color-3b4149);
}

/* Header Part Ends Here */